<div class="desktop-sidebar" id="desktop-sidebar">
    <div class="desktop-sidebar-container glassomorphic">
        <ul class="desktop-sidebar-menu">
            <li class="desktop-sidebar-items">
                <img src="/svg/home.svg" alt="home-icon" srcset="" class="desktop-sidebar-icons">
                <span>
                    <a href='/'>Feeds</a>
                </span>
            </li>
            <li class="desktop-sidebar-items">
                <img src="/svg/blogs.svg" alt="blogs-icon" srcset="" class="desktop-sidebar-icons">
                <span>
                    <a href='/user/blogs'>My Blogs</a>
                </span>
            </li>
            <li class="desktop-sidebar-items">
                <img src="/svg/createBlog.svg" alt="create-blog-icon" srcset="" class="" desktop-sidebar-icons>
                <span>
                    <a href='/user/blogs/create'>Create Blogs</a>
                </span>
            </li>
        </ul>
    </div>
</div>
