<div class="error-container" id="error-container">
    <div class="error-details">
        <!-- Error Header -->
        <div class="error-header">
            <h3 class="error-title" id="error-title">
            </h3>
        </div>
        <!-- Error Message -->
        <div class="error-content">
            <p class="error-message" id="error-message">
            </p>
        </div>
        <button class="error-btn" id="error-close-btn">
            <img src="../../svg/cross.svg" alt="cross-icon" srcset="">
        </button>
    </div>
</div>
