<header class="header glassomorphic" id="header">
    <div class="header-container">
        <a href="/" class="header-logo">
            <img src="/images/logo.jpg" alt="BlogSpark Logo" class="logo-img">
            <span>BlogSpark</span>
        </a>
        <div class="header-menu" id="header-menu">
            <div class="header-item">
                <a href="/user/login">Log In</a>
            </div>
            <div class="header-item">
                <a href="/user/signup">Sign Up</a>
            </div>
        </div>
    </div>
</header>
