<div class="hamburger" id="hamburger">
    <img src="/svg/hamburger.svg" alt="hamburger-icon" class="sidebar-icons">
</div>
<div class="sidebar" id="sidebar">
    <div class="sidebar-container glassomorphic">
        <div class="sidebar-cross" id="sidebar-cross">
            <img src="/svg/cross.svg" alt="cross-icon" srcset="">
        </div>
        <ul class="sidebar-menu">
            <li class="sidebar-items">
                <img src="/svg/home.svg" alt="home-icon" srcset="" class="sidebar-icons">
                <span>
                    <a href='/'>Home</a>
                </span>
            </li>
            <li class="sidebar-items">
                <img src="svg/blogs.svg" alt="blogs-icon" srcset="" class="sidebar-icons">
                <span>
                    <a href='/user/blogs'>My Blogs</a>
                </span>
            </li>
            <li class="sidebar-items">
                <img src="/svg/createBlog.svg" alt="create-blog-icon" srcset="" class="" sidebar-icons>
                <span>
                    <a href='/user/blogs/create'>Create Blogs</a>
                </span>
            </li>
        </ul>
    </div>
</div>
