<div class="slider glassomorphic">
    <button class="slider-nav" type="button" data-slider-button="prev">‹</button>
    <button class="slider-nav" type="button" data-slider-button="next">›</button>
    <div class="slider-indicators">
        <span class="slider-indicator" data-slider-indicator="0"></span>
        <span class="slider-indicator" data-slider-indicator="1"></span>
        <span class="slider-indicator" data-slider-indicator="2"></span>
        <span class="slider-indicator" data-slider-indicator="3"></span>
        <span class="slider-indicator" data-slider-indicator="4"></span>
    </div>
    <ul class="slider-container" data-slider-container>
        <li class="slider-item">
            <img src="/images/slider/slider_img1.jpg" alt="Slider Image 1">
        </li>
        <li class="slider-item">
            <img src="/images/slider/slider_img2.jpg" alt="Slider Image 2">
        </li>
        <li class="slider-item">
            <img src="/images/slider/slider_img3.jpg" alt="Slider Image 1">
        </li>
        <li class="slider-item">
            <img src="/images/slider/slider_img4.jpg" alt="Slider Image 1">
        </li>
        <li class="slider-item">
            <img src="/images/slider/slider_img5.jpg" alt="Slider Image 1">
        </li>
    </ul>
    <div class="hero-content">
        <h1 class="hero-title">Ignite Your Writing Journey</h1>
        <p class="hero-subtitle">Create, Share, and Discover Amazing Stories</p>
        <a href="/user/login" class="hero-cta glassomorphic glassomorphic-dark">Start Writing Today</a>
    </div>
</div>
