<div class="success-container" id="success-container">
    <div class="success-details">
        <!-- Error Header -->
        <div class="success-header">
            <h3 class="success-title" id="success-title">
            </h3>
        </div>
        <!-- Success Message -->
        <div class="success-content">
            <p class="success-message" id="success-message">
            </p>
        </div>
        <!-- Success Actions -->
        <button class="success-btn" id="success-ok-btn">
            <img src="../../svg/cross.svg" alt="cross-icon" srcset="">
        </button>
    </div>
</div>
