<div class="warning-container" id="warning-container">
    <div class="warning-details">
        <!-- Warning Header -->
        <div class="warning-header">
            <h3 class="warning-title" id="warning-title">
            </h3>
        </div>
        <!-- Warning Message -->
        <div class="warning-content">
            <p class="warning-message" id="warning-message">
            </p>
        </div>
        <button class="warning-btn" id="warning-close-btn">
            <img src="../../svg/cross.svg" alt="cross-icon" srcset="">
        </button>
    </div>
</div>
