<link rel="stylesheet" href="/css/components/login.css">
<script defer type="module" src="/js/login.js"></script>
<div class="login-backdrop">
    <form class="glassomorphic login-container" id="login-form">
        <h3>Login</h3>
        <ul class="login-content">
            <li class="login-items">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder=" " id="email">
            </li>
            <li class="login-items">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder=" " id="password">
            </li>
        </ul>
        <div class="login-footer">
            <button class="btn login-button" id="login-btn">Log In</button>
            <a class="forgot-password" href="user/forgot-password">Forgot Password?</a>
            <a class="login-links" href="/user/signup">Don't have an account? Sign Up</a>
        </div>
    </form>
</div>
