<link rel="stylesheet" href="/css/components/reset_password.css">
<script defer type="module" src="/js/resetPassword.js"></script>
<div class="reset-password-container">
    <h3>Reset Your Password</h3>
    <div class="reset-password-field">
        <div class="reset-password-value">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" placeholder="Enter new password" />
            <img src="/svg/showPasswordIcon.svg" alt="show password icon" id="showNewPasswordIcon">
            <img src="/svg/hidePasswordIcon.svg" alt="hide password icon" id="hideNewPasswordIcon">
        </div>
        <div class="reset-password-field">
            <div class="reset-password-value">
                <label for="confirmNewPassword">Confirm Password</label>
                <input type="password" id="confirmNewPassword" placeholder="Confirm new password" />
                <img src="/svg/showPasswordIcon.svg" alt="show password icon" id="showConfirmNewPasswordIcon">
                <img src="/svg/hidePasswordIcon.svg" alt="hide password icon" id="hideConfirmNewPasswordIcon">
            </div>
        </div>
    </div>
    <button id="resetPasswordBtn">Reset Password</button>
</div>
