<link rel="stylesheet" href="/css/components/signup.css">
<div class="signup-backdrop">
    <form class="glassomorphic signup-container" id="signup-form">
        <div class="glassomorphic signup-header">
            <h3>Sign up</h3>
        </div>
        <div class="signup-content">
            <ul class="signup-field-options">
                <!-- Row 1: First Name & Last Name -->
                <li class="signup-items horizontal-group">
                    <div class="signup-field">
                        <label for="firstname">First Name</label>
                        <input type="text" name="firstname" id="firstname">
                    </div>
                    <div class="signup-field">
                        <label for="lastname">Last Name</label>
                        <input type="text" name="lastname" id="lastname">
                    </div>
                </li>

                <!-- Row 2: Gender & Contact -->
                <li class="signup-items horizontal-group">
                    <div class="signup-field">
                        <fieldset>
                            <legend>Gender</legend>
                            <div class="radio-group">
                                <label for="male" class="radio-option">
                                    <input type="radio" name="gender" value="male" id="male"> Male
                                </label>
                                <label for="female" class="radio-option">
                                    <input type="radio" name="gender" value="female" id="female"> Female
                                </label>
                                <label for="other" class="radio-option">
                                    <input type="radio" name="gender" value="other" id="other"> Other
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="signup-field">
                        <label for="contact">Contact</label>
                        <input type="text" name="contact" id="contact">
                    </div>
                </li>

                <!-- Row 3: Email (full width) -->
                <li class="signup-items full-width">
                    <div class="signup-field">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                </li>

                <!-- Row 4: Password (full width) -->
                <li class="signup-items full-width">
                    <div class="signup-field">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                </li>
            </ul>

            <!-- Button and Footer Section -->
            <div class="signup-footer">
                <button class="signup-btn" id="signup-btn">Sign Up</button>
                <a id="login-link" href="/user/login">Already have an account? Log In</a>
            </div>
        </div>
    </form>
</div>

<script defer type="module" src="/js/signup.js"></script>
