<link rel="stylesheet" href="/css/components/user_profile.css">
<div class="user-profile-container">
    <h1>User Profile</h1>
    <div class="user-profile-menu">
        <div class="user-profile-item">
            <div class="profile-img">
                <img src="/images/user_avatar.png" alt="User Avatar" class="user-avatar">
            </div>
            <a href="#">Edit profile picture</a>
        </div>
        <li class="user-profile-item">
            <span class="user-profile-bio"><textarea name="" id=""></textarea></span>
            <a href="#">Add your bio</a>
        </li>
        <li class="user-profile-item">
            <span class="user-profile-name">Username: <input type="text" name="username" id="username"
                    value="Username"></span>
            <a href="#">Edit your name</a>
        </li>
        <li class="user-profile-item">
            <span class="user-profile-gender">Gender: <select name="gender" id="gender">
                    <option value="male" selected>Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select></span>
            <a href="#">Edit your gender</a>
        </li>
        <li class="user-profile-item">
            <span class="user-profile-contact">Contact: <input type="number" name="contact" id="contact"
                    value="9876543210"></span>
            <a href="#">Edit your contact</a>
        </li>
        <li class="user-profile-item">
            <span class="user-profile-email">Email: <input type="email" name="email" id="email"
                    value="user@example.com"></span>
            <a href="#">Edit your email</a>
        </li>
        <li class="user-profile-item">
            <span class="user-profile-password">
                New Password: <input type="password" name="new-password" id="new-password" value="********">
            </span>
            <span class="user-profile-password">
                Old Password: <input type="password" name="old_password" id="old_password">
            </span>
            <a href="#">Change your password</a>
        </li>
    </>
</div>
